<!DOCTYPE html>
<html>
	<head>
        <title>MGM - About us</title>
        <link rel = "stylesheet" type = "text/css" href = "style.css"/>
        <link rel="stylesheet" href="bootstrap.css">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	</head>
    
    <body>
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
<!-- 					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  </button> -->
				  <a class="navbar-brand" href="home">MGM</a>
				</div>
				<div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
				  <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
					<li><a href="home">Home</a></li>
					<li class="active"><a href="about">About</a></li>
                    <li><a href="rooms">Rooms</a></li>
                    <li><a href="reserve">Reservations</a></li>
				  </ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</br></br></br>
				
        <div id ="title">
                About Us
        </div>
		
        <div class="Text">
            <nav>
                MGM also known as "My Grand Motel" is a Motel/Hotel founded by Wilbert Uy in 2014. MGM got its "6-star" status on its 2nd week of openning. The hotel is now ranked as the BEST HOTEL EVER!
            </nav>
            
            <div id="image">
                <img src="home%20image%202.jpg">
            </div>
            
            <footer>
                <div class="Subtext">
                <li><a href="">Become an Affiliate</a></li>
                |
                <li><a href="">Mobile</a></li>
                |
                <li><a href="">Terms of use</a></li>
                |
                <li><a href="">Privacy Policy</a></li>
                |
                <li><a href="">Guest Receipt</a></li>
                </div>
            </footer>
        </div>

        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>
