<!DOCTYPE html>
<html>
	<head>
        <title>MGM - Reservations</title>
        <link rel = "stylesheet" type = "text/css" href = "style.css"/>
        <link rel="stylesheet" href="bootstrap.css">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script>
            $(function() {
            $( "#datepicker" ).datepicker();
            });
        </script>
	</head>
    
    <body>
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
<!-- 					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  </button> -->
				  <a class="navbar-brand" href="home">MGM</a>
				</div>
				<div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
				  <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
					<li><a href="home">Home</a></li>
					<li><a href="about">About</a></li>
                    <li><a href="rooms">Rooms</a></li>
                    <li class="active"><a href="reserve">Reservations</a></li>
				  </ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</br></br></br>
				
        <div id ="title">
                RESERVATIONS
        </div>
		
        <form method="POST" action="/reserve">
            <div class="Text">
                <nav>First Name</nav>
                <input id="black" type="text" name="fname">
            
                <nav>Last Name</nav>
                <input id="black" type="text" name="lname">
            
                <nav>Email Address</nav>
                <input id="black" type="text" name="email">
            
                <nav>Room Type</nav>
            
                <select name="room">
                    <option value="default">--Select Room---</option>
                    <option value="Loner Room">Loner Room</option>
                    <option value="The-Baby-Maker Room">The Baby Maker</option>
                    <option value="3-some Room">3-some</option>
                    <option value="Friendzone Room">Friendzone Room</option>
                    <option value="Groupie Room">Groupie Room</option>
                </select>
            
                <br/><br/>
            
                <nav>Date:</nav>
            
                <div id="black">
                <input type="text" id="datepicker" name="date">
                </div>

                <br/><br/></br></br></br>
            
                <!-- <a id="book" href="booking" class="btn btn-default btn-default" role="button">Submit My Booking!</a> -->

                <input id="book" type="submit" value="Submit My Booking!" />

                <br/><br/><br/><br/><br/><br/><br/>
                <footer>
                    <div class="Subtext">
                    <li><a href="">Become an Affiliate</a></li>
                    |
                    <li><a href="">Mobile</a></li>
                    |
                    <li><a href="">Terms of use</a></li>
                    |
                    <li><a href="">Privacy Policy</a></li>
                    |
                    <li><a href="">Guest Receipt</a></li>
                    </div>
                </footer>
            </div>    
        </form>

        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>
